* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --grayColor: rgb(190, 181, 169);
    --grayColorLight: rgb(231, 221, 208);
    --grayColorDark: hsl(36, 9%, 32%);
    --backGroundColor: #e4e1e1;
}

body {
    font-family: "maregraphe-variable", sans-serif;
    font-variation-settings: "wght"300, "opsz"72;
    
}

main {
    display: block;
    height: 100vh;
    width: 100%;
    background: #e4e1e1;
    /* background-color: aqua; */
    display: flex;
    align-items: start;
    justify-content: center;
    overflow: hidden;
}

.calc--wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    /* justify-content: space-between; */
    /* height: 500px; */
    width: 300px;
    /* background-color: black; */
}

.calc--wrapper>div {
    width: 100%;
}

.calc__display-wrapper {
    position: relative;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    /* background-color: blue; */
}

.calc__welcome-text {
    position: absolute;
    bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* font-size: 1.5rem; */
    /* background-color: aqua; */
    font-variation-settings: "wght"400, "opsz"35;
    transition: all .5s ease-in;
}

.calc__welcome-text.fly-out {
    bottom: 500px;
    scale: 300%;
    opacity: 0;
}

.calc__display {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    /* height: 100px; */
    color: var(--grayColorDark);
    /* margin-bottom: 20px; */
    /* background-color: red; */
}



.calc__display__calculation-container {
    display: flex;
    margin-bottom: 8px;
    /* background-color: red; */
    /* height: 40px; */
    font-variation-settings: "wght"300, "opsz"35;

}


.calc__display__calculation-equal-sign {
    white-space: pre;
    opacity: 0;
    transition: opacity 1s;

}

.calc__display__calculation-equal-sign.show {
    opacity: 1;
}

.calc__display__result {
    height: 50px;
    font-size: 4rem;
    opacity: 1;
    color: var(--grayColorDark);
    transition: opacity .5s;
    transition: font-variation-settings .4s,
                font-size .4s;
    font-variation-settings: "wght"900, "opsz"72;
}

.calc__display__result.fade {
    opacity: .5;
    font-variation-settings: "wght"300, "opsz"72;
}

.calc__display__result.mini {
    font-size: .5rem;
}

.calc__bracket-container {
    display: flex;
    align-items: end;
    justify-content: center;
    width: 100%;
    height: 75px;
    padding-bottom: 10px;
    /* opacity: 0; */
    transform-origin: bottom;
    overflow: hidden;
    /* background-color: blue; */
}

/* .calc__bracket-container.show {
    height: 100px;
    opacity: 1;
} */

.bracket-line-container {
    display: flex;
    width: 0;
    height: 0;
    opacity: 0;
    transition: height .5s ease-out,
                width 1s ease-out .25s,
                opacity .25s linear .1s;
}

.bracket-line-container.grow {
    height: 100%;
    width: 100%;
    opacity: 1;
}

.bracket-line-container div {
    width: 100%;
    border-color: var(--grayColor);
}

.bracket-line-container--end {
    transform: rotateY(180deg)
}

.bracket-line--curve-out {
    height: calc(30% + 2px);
    border-bottom: 2px solid;
    border-left: 2px solid;
    border-bottom-left-radius: 20px;
}

.bracket-line--curve-in {
    align-self: end;
    height: 70%;
    border-top: 2px solid;
    border-right: 1px solid;
    border-top-right-radius: 50px;
}

.calc__keyboard {
    display: grid;
    grid-template-columns: 50px repeat(3, 1fr) 50px;
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: 
    "o n n n e"
    "o n n n e"
    "o n n n ."
    "o n n n ."
    ". . . c c"
    ;

    height: 300px;
    flex-wrap: wrap;
    gap: 10px;
}

.calc__keyboard > div {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.calc__keyboard__extras {
    grid-area: e;
    flex-direction: column;
}

.calc__keyboard__numbers {
    grid-area: n;
}

.calc__keyboard__numbers div{
    flex: 0 1 1fr;
}

.calc__keyboard__numbers div:nth-child(10){
    visibility: hidden;
}

.calc__keyboard__operators {
    grid-area: o;
    flex-direction: column;
}

.calc__keyboard__deletes {
    grid-area: c;
}

.calc__keyboard__deletes div {
    flex: 1;
}

.calc__btn-wrapper{
    flex: 1 0 auto;
    perspective: 500px;
    overflow: hidden;
}
.calc__btn-wrapper div{
    height: 100%;
    transform: rotateX(-95deg);
    transform-origin: top;
}

.calc__btn {
    flex: 1 0 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: var(--grayColorDark);
    font-size: 1.2rem;
}

.btn-num {
    border: 1px solid var(--grayColor);
    padding-top: 4px;
}

.btn-decimal {
    opacity: 1;
    transition: opacity 1s linear;
}
.btn-decimal.hidden {
    opacity: 0;
    /* transition: opacity 5s linear; */
}

.calc__btn.fold-out {
    /* border: 5px solid var(--backGroundColor); */
    background-color: var(--grayColor);
    color: var(--backGroundColor);
    font-variation-settings: "wght"300, "opsz"6;
}

.calc__btn.fold-out.clear {
    background-color: var(--grayColorDark);
}

@keyframes fold-down {
    90% {
        transform: rotateX(20deg);
    }
    100% {
        transform: rotateX(0deg);

    }
}

.btn-num:hover {
    color: var(--grayColorDark);
    background: var(--grayColorLight);
}

.btn-num:active {
    color: var(--grayColorLight);
    background: var(--grayColorDark);
}

.calc__btn.fold-out:hover {
    background-color: var(--grayColorDark);
    color: var(--grayColorLight);
}

.calc__btn.fold-out.clear:hover {
    background-color: var(--grayColor);
    border: 1px solid var(--grayColorDark);
    color: var(--grayColorDark);
}

.calc__btn.fold-out:active, .calc__btn.fold-out.clear:active {
    background-color: var(--grayColorLight);
    color: var(--grayColorDark);
    border: 1px solid var(--grayColor);
}



/* .calc__btn.fold-out:active {
    background-color: var(--grayColorLight);
    color: var(--grayColorDark);
    border: 1px solid var(--grayColor);
} */

.footer {
    display: flex;
    justify-content: center;
    align-items: end;
    letter-spacing: 2px;
    color: var(--grayColorDark);
    font-size: .5rem;
    font-variation-settings: "wght"300, "opsz"6;
    /* background-color: aqua; */
    height: 75px;

}