* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --grayColor: rgb(176, 167, 154);
    --grayColorLight: rgb(210, 204, 198);
    --grayColorDark: hsl(38, 8%, 46%);
    --grayColorBlack: hsl(37, 10%, 32%);
    --backGroundColor: rgb(226, 222, 219);
    --maroonColor: rgb(108, 38, 30);
    --green: rgb(48, 107, 79);
    --gap: 10px;
}

body {
    font-family: "maregraphe-variable", sans-serif;
    font-variation-settings: "wght"300, "opsz"35;   
}

.no-transitions {
    transition: none !important;
}

main {
    display: block;
    height: 100vh;
    width: 100%;
    background: var(--backGroundColor);
    /* background-color: aqua; */
    display: flex;
    align-items: start;
    justify-content: center;
    overflow: hidden;
}

.calc--wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    /* justify-content: space-between; */
    /* height: 500px; */
    /* width: 300px; */
    /* background-color: rgb(181, 94, 94); */
}

.calc--wrapper>div {
    width: 100%;
}

.calc__display-wrapper {
    position: relative;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    /* background-color: blue; */
    height: 150px;
}

.calc__welcome-text {
    position: absolute;
    bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 1.5rem;
    color: var(--maroonColor);
    /* font-size: 1.5rem; */
    /* background-color: aqua; */
    font-variation-settings: "wght"900, "opsz"6;
    transition: all .5s ease-in;
    animation: updown 2s ease-in-out alternate infinite forwards;
    pointer-events: none;
}

@keyframes updown {
    to {
        transform: translateY(40px);
        /* scale: 120%; */
    }
}

.calc__welcome-text.fade-in {
    opacity: 0;
    font-variation-settings: "wght"300, "opsz"6;

    /* transition: opacity 5s 1s; */

}
.calc__welcome-text.fly-out {
    bottom: 500px;
    scale: 300%;
    opacity: 0;
    letter-spacing: 10px;
}

.calc__display {
    position: relative;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    width: 100%;
    /* height: 100px; */
    color: var(--grayColorBlack);
    /* margin-bottom: 20px; */
    /* background-color: red; */
}



.calc__display__calculation-container {
    display: flex;
    margin-bottom: var(--gap);
    max-width: 100%;
    /* background-color: rgb(90, 64, 64); */
    /* height: 40px; */
    font-variation-settings: "wght"300, "opsz"35;

}

.calc__display__calculation-text {
    display: flex;
    text-align: center;
    /* justify-content: end; */
    align-items: end;
    color: var(--maroonColor);
    min-width: fit-content;
    max-width: 200px;
    /* word-break: break-all; */
    border-bottom: 1px solid var(--grayColorDark);
    transition: font-size .5s;
}

.calc__display__calculation-text.shrink {
    font-size: .1rem;
}

.calc__display__calculation-equal-sign {
    white-space: pre;
    opacity: 0;
    transition: opacity 1s;
    /* background-color: lightblue; */
    display: flex;
    align-items: center;
    /* justify-content: center; */

}

.calc__display__calculation-equal-sign.show {
    opacity: 1;
}

.calc__display__result {
    /* height: 50px; */
    font-size: 4rem;
    opacity: 1;
    text-align: center;
    font-variation-settings: "wght"900, "opsz"72;
    /* background-color: blue; */
    transition: opacity .5s,
                font-variation-settings .4s,
                font-size .4s;
}

.calc__display__result.fade {
    opacity: .5;
    font-variation-settings: "wght"300, "opsz"72;
}

.calc__display__result.mini {
    font-size: .5rem;
}

.calc__bracket-container {
    display: flex;
    align-items: end;
    justify-content: center;
    width: 90%;
    height: 60px;
    padding-bottom: 10px;
    /* opacity: 0; */
    transform-origin: bottom;
    overflow: hidden;
    /* background-color: green; */
}

/* .calc__bracket-container.show {
    height: 100px;
    opacity: 1;
} */

.bracket-line-container {
    display: flex;
    width: 0;
    height: 0;
    opacity: 0;
    transition: height .5s ease-out,
                width 1s ease-out .25s,
                opacity .25s linear .1s;
}

.bracket-line-container.grow {
    height: 100%;
    width: 100%;
    opacity: 1;
}

.bracket-line-container div {
    width: 100%;
    border-color: var(--maroonColor);
}

.bracket-line-container--end {
    transform: rotateY(180deg)
}

.bracket-line--curve-out {
    height: calc(30% + 1px);
    border-bottom: 1px solid;
    border-left: 5px solid;
    border-bottom-left-radius: 20px;
}

.bracket-line--curve-in {
    align-self: end;
    height: 70%;
    border-top: 1px solid;
    border-right: 1px solid;
    border-top-right-radius: 50px;
}

.calc__keyboard {
    display: grid;
    grid-template-columns: 1fr repeat(3, 1fr) 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: 
    "o n n n e"
    "o n n n e"
    "o n n n ."
    "o n n n ."
    ". . . c c"
    ;

    /* height: 300px; */
    /* width: 300px; */
    flex-wrap: wrap;
    gap: var(--gap);
    scroll-behavior: none;
}

.calc__keyboard > div {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
}

.calc__keyboard__extras {
    grid-area: e;
    flex-direction: column;
}

div.calc__keyboard__numbers {
    width: 170px;
    height: 220px;
    grid-area: n;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
}

div.calc__keyboard__numbers div{
    flex: 1 0 25%;
    /* height: 40px; */
    /* min-width: 30%; */
}

.calc__keyboard__numbers div:nth-child(10){
    visibility: hidden;
}

.calc__keyboard__operators {
    grid-area: o;
    flex-direction: column;
}

.calc__keyboard__deletes {
    grid-area: c;
}

.calc__keyboard__deletes div {
    flex: 1;
}

.calc__btn-wrapper{
    flex: 1 0 auto;
    perspective: 500px;
    overflow: hidden;
}
/* .calc__btn-wrapper div{
    height: 100%;
    transform: rotateX(-95deg);
    transform-origin: top;
} */

.calc__btn {
    flex: 1 0 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: var(--grayColorDark);
    font-size: 1.2rem;
    padding-top: 4px;
    cursor: pointer;

}

.btn-num {
    border: solid var(--grayColor);
    border-width: 1px;
    padding-top: 4px;
    /* height: 25%; */
    transition: border-width 1s, 
                background-color 1s, 
                color 1s, 
                font-size 1s, 
                font-variation-settings 1s, 
                height 1s ;
}

.btn-num.blob {
    background-color: var(--grayColorLight);
    color: var(--maroonColor);
    font-size: 2rem;
    font-variation-settings: "wght"600, "opsz"72;
    /* border-width: 2px; */
}

.btn-num.hover {
    color: var(--maroonColor);
    background-color: var(--grayColorLight);
    border-width: .5px;
}

.btn-decimal {
    opacity: 1;
    transition: all 1s linear;
}
.btn-decimal.hidden {
    opacity: 0;
    /* transition: opacity 5s linear; */
}

.btn-fold-out {
    height: 100%;
    transform: rotateX(-95deg);
    transform-origin: top;
    /* border: 5px solid var(--backGroundColor); */
    background-color: var(--grayColor);
    color: var(--backGroundColor);
    font-variation-settings: "wght"300, "opsz"6;
    animation-fill-mode: forwards;
    font-size: 1.25rem;
    transition: background-color 1s;
}

.btn-fold-out.fold-out {
    animation: fold-out 1s ease-out 1s forwards;
}

.btn-fold-out.fold-in {
    transform: rotateX(0deg);
    animation: fold-in 1s ease-out 1s forwards;
}

@keyframes fold-out {
    0% {
        transform: rotateX(-95deg);
    }
    90% {
        transform: rotateX(20deg);
    }
    100% {
        transform: rotateX(0deg);
    }
}

@keyframes fold-in {
    0% {
        transform: rotateX(0deg);
    }
    100% {
        transform: rotateX(-95deg);
    }
}

.btn-fold-out.hover {
    background-color: var(--grayColorDark);
    color: var(--grayColorLight);
}

.btn-fold-out.clear {
    background-color: var(--grayColorBlack);
}

.btn-fold-out.clear.hover {
    background-color: var(--maroonColor);
    color: var(--grayColorLight);
}

.btn-fold-out.clear.active {
    background-color: var(--grayColor);
    color: var(--grayColorLight);
}

.calc__btn.active {
    color: var(--backGroundColor);
    background-color: var(--maroonColor);
}

.btn-plus-minus {
    background-color: var(--grayColorLight);
    color: var(--grayColorBlack);
}

.btn-plus-minus.hover {
    background-color: var(--grayColorDark);
}

.btn-plus-minus.is-on {
    background-color: var(--green);
    color: var(--grayColor);
}

.btn-plus-minus.is-on.hover {
    background-color: var(--grayColorBlack);
}

.footer {
    display: flex;
    justify-content: center;
    align-items: stretch;
    /* background-color: aqua; */
    height: 50px;
}

.footer__text {
    align-content: end;
    letter-spacing: 2px;
    color: var(--maroonColor);
    font-size: .5rem;
    font-variation-settings: "wght"400, "opsz"6;
    padding-left: 8px;
    /* background-color: rgb(134, 134, 160); */
}

@media (min-width: 425px) {
    div.calc__keyboard__numbers {
        width: 200px;
        height: 250px;
    }
}

@media (min-width: 768px) {
    :root {
        --gap: 15px
    }
    .calc__welcome-text {
        font-size: 1.5rem;
        line-height: 2rem;
        bottom: 50px;
    }
    .calc__display-wrapper {
        height: 250px;
    }
    .calc__bracket-container {
        height: 100px;
        padding-bottom: 20px;
    }
    div.calc__keyboard__numbers {
        width: 250px;
        height: 300px;
    }
    .calc__display__calculation-container, .calc__btn {
        font-size: 1.5rem;
    }
    .calc__display__result {
        font-size: 6rem;
    }
    .footer {
        height: 75px;
    }
    .footer__text {
        padding-left: 12px;
        font-size: 1rem;

    }
}